# Ignore all logfiles and tempfiles.
/log/*.log
/tmp
doc/
*.swp
*~
.project
.DS_Store
.idea

# Ignore vagrant files
.vagrant/

# Ignore everything except for the files we manage.
# To generate this list, you can use a command like the following:
# find . \( -path "./.vagrant/*" -o -path "./.git/*" -o -name ".DS_Store" \) -prune -o -type file -print
*
!/.gitignore
!/ansible/hosts/group_vars/all.yml
!/ansible/hosts/group_vars/production.yml
!/ansible/hosts/group_vars/warpspeed.yml
!/ansible/hosts/host_vars/vagrant.yml
!/ansible/hosts/production
!/ansible/playbooks/deploy/node.yml
!/ansible/playbooks/deploy/php.yml
!/ansible/playbooks/deploy/python.yml
!/ansible/playbooks/deploy/ruby.yml
!/ansible/playbooks/production/enable-root.yml
!/ansible/playbooks/production/init.yml
!/ansible/playbooks/production/mongodb/admin.yml
!/ansible/playbooks/production/mongodb/app/node.yml
!/ansible/playbooks/production/mongodb/database.yml
!/ansible/playbooks/production/mongodb/install.yml
!/ansible/playbooks/production/mysql/admin.yml
!/ansible/playbooks/production/mysql/app/hhvm.yml
!/ansible/playbooks/production/mysql/app/php.yml
!/ansible/playbooks/production/mysql/app/python.yml
!/ansible/playbooks/production/mysql/app/ruby.yml
!/ansible/playbooks/production/mysql/app/wordpress.yml
!/ansible/playbooks/production/mysql/database.yml
!/ansible/playbooks/production/mysql/install.yml
!/ansible/playbooks/production/postgres/admin.yml
!/ansible/playbooks/production/postgres/app/php.yml
!/ansible/playbooks/production/postgres/app/python.yml
!/ansible/playbooks/production/postgres/app/ruby.yml
!/ansible/playbooks/production/postgres/database.yml
!/ansible/playbooks/production/postgres/install.yml
!/ansible/playbooks/production/site/hhvm.yml
!/ansible/playbooks/production/site/node.yml
!/ansible/playbooks/production/site/php.yml
!/ansible/playbooks/production/site/python.yml
!/ansible/playbooks/production/site/ruby.yml
!/ansible/playbooks/production/site/static.yml
!/ansible/playbooks/vagrant/init.yml
!/ansible/playbooks/vagrant/mongodb/admin.yml
!/ansible/playbooks/vagrant/mongodb/app/node.yml
!/ansible/playbooks/vagrant/mongodb/database.yml
!/ansible/playbooks/vagrant/mysql/admin.yml
!/ansible/playbooks/vagrant/mysql/app/hhvm.yml
!/ansible/playbooks/vagrant/mysql/app/php.yml
!/ansible/playbooks/vagrant/mysql/app/python2.yml
!/ansible/playbooks/vagrant/mysql/app/python3.yml
!/ansible/playbooks/vagrant/mysql/app/ruby.yml
!/ansible/playbooks/vagrant/mysql/app/wordpress.yml
!/ansible/playbooks/vagrant/mysql/database.yml
!/ansible/playbooks/vagrant/postgres/admin.yml
!/ansible/playbooks/vagrant/postgres/app/php.yml
!/ansible/playbooks/vagrant/postgres/app/python2.yml
!/ansible/playbooks/vagrant/postgres/app/python3.yml
!/ansible/playbooks/vagrant/postgres/app/ruby.yml
!/ansible/playbooks/vagrant/postgres/database.yml
!/ansible/playbooks/vagrant/site/hhvm.yml
!/ansible/playbooks/vagrant/site/node.yml
!/ansible/playbooks/vagrant/site/php.yml
!/ansible/playbooks/vagrant/site/python2.yml
!/ansible/playbooks/vagrant/site/python3.yml
!/ansible/playbooks/vagrant/site/ruby.yml
!/ansible/playbooks/vagrant/site/static.yml
!/ansible/playbooks/warpspeed/init.yml
!/ansible/playbooks/warpspeed/site/node.yml
!/ansible/playbooks/warpspeed/site/php.yml
!/ansible/playbooks/warpspeed/site/python.yml
!/ansible/playbooks/warpspeed/site/ruby.yml
!/ansible/playbooks/warpspeed/site/static.yml
!/ansible/roles/Common/files/apt_auto_upgrades
!/ansible/roles/Common/files/update-apt-keys.pl
!/ansible/roles/Common/handlers/main.yml
!/ansible/roles/Common/tasks/bash-profile.yml
!/ansible/roles/Common/tasks/dev-utils.yml
!/ansible/roles/Common/tasks/main.yml
!/ansible/roles/Common/tasks/nodejs.yml
!/ansible/roles/Common/tasks/redis.yml
!/ansible/roles/Common/tasks/ruby.yml
!/ansible/roles/Common/tasks/swap.yml
!/ansible/roles/Common/tasks/sysctl.yml
!/ansible/roles/Common/tasks/system-updates.yml
!/ansible/roles/Common/tasks/system-utilities.yml
!/ansible/roles/Common/tasks/timezone.yml
!/ansible/roles/Common/templates/sysctl.conf.j2
!/ansible/roles/Deploy/Frontend/tasks/main.yml
!/ansible/roles/Deploy/Git/tasks/main.yml
!/ansible/roles/Deploy/Passenger/handlers/main.yml
!/ansible/roles/Deploy/Passenger/tasks/main.yml
!/ansible/roles/Deploy/PHP/handlers/main.yml
!/ansible/roles/Deploy/PHP/tasks/dot-env-php.yml
!/ansible/roles/Deploy/PHP/tasks/laravel.yml
!/ansible/roles/Deploy/PHP/tasks/main.yml
!/ansible/roles/Deploy/Python/tasks/django.yml
!/ansible/roles/Deploy/Python/tasks/flask.yml
!/ansible/roles/Deploy/Python/tasks/main.yml
!/ansible/roles/Deploy/Ruby/tasks/main.yml
!/ansible/roles/Deploy/Ruby/tasks/rails.yml
!/ansible/roles/Git-Hook/tasks/main.yml
!/ansible/roles/Git-Hook/templates/git-post-receive.j2
!/ansible/roles/HHVM/handlers/main.yml
!/ansible/roles/HHVM/meta/main.yml
!/ansible/roles/HHVM/tasks/main.yml
!/ansible/roles/HHVM/templates/php.ini.j2
!/ansible/roles/HHVM/templates/server.ini.j2
!/ansible/roles/MongoDB/Install/files/mongo.conf
!/ansible/roles/MongoDB/Install/handlers/main.yml
!/ansible/roles/MongoDB/Install/tasks/main.yml
!/ansible/roles/MongoDB/Manage/tasks/main.yml
!/ansible/roles/MySQL/Install/handlers/main.yml
!/ansible/roles/MySQL/Install/tasks/lockdown.yml
!/ansible/roles/MySQL/Install/tasks/main.yml
!/ansible/roles/MySQL/Install/templates/my.cnf.j2
!/ansible/roles/MySQL/Manage/tasks/main.yml
!/ansible/roles/Nginx/files/h5bp-nginx/directive-only/cache-file-descriptors.conf
!/ansible/roles/Nginx/files/h5bp-nginx/directive-only/cross-domain-insecure.conf
!/ansible/roles/Nginx/files/h5bp-nginx/directive-only/extra-security.conf
!/ansible/roles/Nginx/files/h5bp-nginx/directive-only/no-transform.conf
!/ansible/roles/Nginx/files/h5bp-nginx/directive-only/spdy.conf
!/ansible/roles/Nginx/files/h5bp-nginx/directive-only/ssl-stapling.conf
!/ansible/roles/Nginx/files/h5bp-nginx/directive-only/ssl.conf
!/ansible/roles/Nginx/files/h5bp-nginx/directive-only/x-ua-compatible.conf
!/ansible/roles/Nginx/files/h5bp-nginx/location/cache-busting.conf
!/ansible/roles/Nginx/files/h5bp-nginx/location/cross-domain-fonts.conf
!/ansible/roles/Nginx/files/h5bp-nginx/location/expires.conf
!/ansible/roles/Nginx/files/h5bp-nginx/location/protect-system-files.conf
!/ansible/roles/Nginx/files/h5bp-nginx/README.md
!/ansible/roles/Nginx/files/mime.types
!/ansible/roles/Nginx/files/nginx.default.conf
!/ansible/roles/Nginx/handlers/main.yml
!/ansible/roles/Nginx/tasks/main.yml
!/ansible/roles/Nginx/tasks/site.yml
!/ansible/roles/Nginx/templates/h5bp-basic.conf.j2
!/ansible/roles/Nginx/templates/nginx.conf.j2
!/ansible/roles/Nginx/templates/site.conf.j2
!/ansible/roles/Node/meta/main.yml
!/ansible/roles/Node/tasks/main.yml
!/ansible/roles/Node/templates/nvm.sh.j2
!/ansible/roles/PHP/handlers/main.yml
!/ansible/roles/PHP/meta/main.yml
!/ansible/roles/PHP/tasks/main.yml
!/ansible/roles/PHP/tasks/phpunit.yml
!/ansible/roles/PHP/tasks/suhosin.yml
!/ansible/roles/PHP/templates/php-fpm-pool.conf.j2
!/ansible/roles/PHP/templates/php.ini.j2
!/ansible/roles/PostgreSQL/Install/handlers/main.yml
!/ansible/roles/PostgreSQL/Install/tasks/lockdown.yml
!/ansible/roles/PostgreSQL/Install/tasks/main.yml
!/ansible/roles/PostgreSQL/Manage/tasks/database.yml
!/ansible/roles/PostgreSQL/Manage/tasks/main.yml
!/ansible/roles/Production/files/logwatch-header.html
!/ansible/roles/Production/files/nginx-444.conf
!/ansible/roles/Production/handlers/main.yml
!/ansible/roles/Production/meta/main.yml
!/ansible/roles/Production/tasks/fail2ban.yml
!/ansible/roles/Production/tasks/lockdown.yml
!/ansible/roles/Production/tasks/logwatch.yml
!/ansible/roles/Production/tasks/main.yml
!/ansible/roles/Production/tasks/postfix.yml
!/ansible/roles/Production/tasks/ufw.yml
!/ansible/roles/Production/templates/fail2ban.conf.j2
!/ansible/roles/Production/templates/logwatch.conf.j2
!/ansible/roles/Python/meta/main.yml
!/ansible/roles/Python/tasks/main.yml
!/ansible/roles/Ruby/files/default-gems
!/ansible/roles/Ruby/handlers/main.yml
!/ansible/roles/Ruby/meta/main.yml
!/ansible/roles/Ruby/tasks/main.yml
!/ansible/roles/Ruby/templates/rbenv.sh.j2
!/ansible/roles/Warpspeed/Setup/handlers/main.yml
!/ansible/roles/Warpspeed/Setup/tasks/main.yml
!/ansible/roles/Warpspeed/Site/tasks/main.yml
!/ansible/roles/WordPress/meta/main.yml
!/ansible/roles/WordPress/tasks/main.yml
!/ansible/site_vars/.gitignore
!/ansible/site_vars/template.yml
!/ansible/storage/.gitignore
!/ansible.cfg
!/LICENSE.txt
!/README.md
!/sites/.gitignore
!/sites/codeup.dev/public/index.php
!/Vagrantfile
