# Ignore all logfiles and tempfiles.
/log/*.log
/tmp
doc/
*.swp
*~
.project
.DS_Store
.idea
/config.yaml
/ansible/roles/*
/ansible/storage/*
/ansible/hosts/group_vars/_email.yml
/ansible/callback_plugins/__pycache__

# Ignore vagrant files
.vagrant/
