/*
!.gitignore
!/ansible.cfg
!/config.yaml.dist
!/LICENSE.txt
!/README.md
!/Vagrantfile

!/ansible/
/ansible/roles/*
/ansible/hosts/*

!/ansible/hosts/vagrant_ansible_inventory
!/ansible/hosts/group_vars/
!/ansible/hosts/host_vars/

!/certs/
!/certs/.gitignore
!/sites/
!/sites/.gitignore

*.bak
*.swp
*~
.DS_Store
.idea
.project
._*
__pycache__
