export RBENV_ROOT=/usr/local/rbenv
export PATH="/usr/local/rbenv/bin:$PATH"

{% if app_env == "dev" %}
export RAILS_ENV=development
{% else %}
export RAILS_ENV=production
{% endif %}

eval "$(rbenv init -)"
